<NuGetPack>
  <AddFrameworkReferences>true</AddFrameworkReferences>
  <DoIncludeSources>true</DoIncludeSources>  
  <ProjectUrl>https://github.com/GusLab/Ftp</ProjectUrl>
  <LicenseUrl>https://github.com/GusLab/Ftp/blob/master/LICENSE</LicenseUrl>
  <Authors>Gustaw Fit</Authors>
  <Owners>Gustaw Fit</Owners>
  <Copyright>Gustaw Fit</Copyright>
  <Description>Ftp command line tool</Description>
  <Summary></Summary>
  <Keywords>ftp, command, line</Keywords>
</NuGetPack>